#skypeWhiteDrp{width:195px !important;clear:both !important;line-height:0 !important;text-indent:0 !important;margin:0 !important;padding:0 !important;border:none !important}
#skypeWhiteDrp img{border:none !important;margin:0 !important;padding:0 !important;display:inline}
#skypeWhiteDrp div#skypeDropdown-white{margin:0 !important;padding:0 !important;clear:both !important;text-indent:0 !important;line-height:0 !important;border:none !important}
#skypeDropdown-white a{display:block !important;margin:0 !important;padding:0 !important;text-indent:0!important;line-height:0 !important;border:none !important}
#skypeWhiteDrp > div#skypeDropdown-white{position: absolute}
