html,body{margin:0;padding:0}
body{background:white url(http://download.skype.com/share/skypebuttons/oops/bg.png) top left no-repeat;font:78% "Lucida Grande",Verdana,Arial,sans-serif;color:white;line-height:130%;width:540px;height:305px;overflow:hidden}
h1{position:absolute;font-family:"Helvetica Neue Light",Helvetica,Arial,sans-serif;font-weight:bold;font-size:23px;top:39px;left:47px;color:#00aff0;line-height:38px;display:block;margin:0;padding:0}
p{margin:0;padding:0}
p#col1{position:absolute;display:block;top:107px;left:25px;width:240px}
p#col2{position:absolute;display:block;top:107px;left:280px;width:240px}
div{position:absolute;top:195px;left:25px;width:495px;color:black;margin:0;padding:0}
div p{margin-bottom:10px}
a{color:white;text-decoration:underline;font-weight:bold}
form{margin:0;padding:0}